<div class="dashboard">
  <div class="dashboard_item">
    <a class="box" routerLink="/home"><span class="dashboard_item_icon"><i class="fa fa-home"></i></span>
      <div>Home</div>
    </a>
  </div>
  <div class="dashboard_item">
    <a class="box" routerLink="/register"><span class="dashboard_item_icon"><i class="fa 
        fa-home"></i></span>
      <div>Update Profile</div>
    </a>
  </div>
  <div class="dashboard_item">
    <a class="box" routerLink="/settings"><span class="dashboard_item_icon"><i class="fa 
        fa-home"></i></span>
      <div>Settings</div>
    </a>
  </div>
  <div class="dashboard_item">
    <a class="box" routerLink="/home"><span class="dashboard_item_icon"><i class="fa 
        fa-home"></i></span>
      <div>Dummy</div>
    </a>
  </div>
</div>
